<H1>Default page template.</H1>
<p>Create template for <strong>'{{ fn('get_page_template_slug') }}'</strong> using file <strong>'src/templates/{{ fn('get_page_template_slug') }}/{{ fn('get_page_template_slug') }}.template.twig</strong></p>
