<header class="header">
    <div class="header__container">
        {% include 'top/top.twig' %}
                <nav class="header__nav">
                    {% include 'nav-main/nav-main.twig' with {'class': 'nav-main--main', 'menu': nav_main} %}
                </nav>
        <div class="hamburger-menu" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
</header>
